.main_class{
    margin: 0px 80px;
    display: flex;
}
.main_class1
{
    flex-basis:60vw;
    /* margin-right: 50px; */
}
.main_class2
{
    background-image: url("../../images/prodjar/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
}
.line{
    margin:0px 80px;
    border-top: 2px dashed #B0B0B0  ;
}
.title{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #3E3E3E;
}
.sub_title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #D31E21;
}
.topic{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #3E3E3E;
}
.image{
    height: 75%;
}
.description{
    font-family: Nunito;
    font-style: normal;
    /* width: 400px; */
    margin-right: 100px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #3E3E3E;
}

.table{
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* letter-spacing: 0.1em; */
}
.table_content1 , .table_content3
{
    color: #888888;
    text-transform: uppercase;

}
.table_content3 , .table_content4{

    margin-left: 15px;
}
.table_content2 , .table_content4
{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    
}
@media only screen and (min-device-width: 768px) and (max-device-width:1024px) {
    .main_class{
        flex-direction: column;
    }

}
@media only screen and (min-device-width: 360px) and (max-device-width:640px) {
    .main_class{
        flex-direction: column;

    }
}
@media only screen and (min-device-width: 480px) and (max-device-width:800px) {
    .main_class{
        flex-direction: column;
    }

}
@media only screen and (min-device-width: 800px) and (max-device-width:1280px) {
    .main_class{
        flex-direction: column;
    }

}
@media screen  and (min-device-width: 1200px)  and (max-device-width: 1600px){
    .main_class{
        flex-direction: row;
    }
}

